= content_for :report_title do
  %div.title
    %h1 Unreachables Report

%div.waiting
  %h2 Please wait while we load your information...
%div.oops.ninja
  %h2 We're sorry. We cannot collect the data right now. Try again later.
%div.overview
  %div.pie
    %canvas#unreachables
  %div.legend
  %div.summary
    %h2 Overview
    %ul
      %li 
        %span.sad-count X
        of #{@customers.count} Customers Have Unreachable Targets
      %li 
        %span.unreachable-count X
        of #{@targets.count} Targets Unreachable 
  %div.clear
%table#details.display{:width=>'100%'}
  %thead
    %tr
      %th Customer
      %th Hostname
      %th Address
      %th Reachable?
  %tbody
    - @targets.each do |t|
      %tr
        %td #{t.appliance.customer}
        %td #{t.hostname}
        %td #{t.address}
        %td NA

:javascript
  loadPage(#{@targets.count})
